a {
  display: inline-block;
  width: 15vw;
  height: 4vh;
  text-decoration: none;
  color: #000;
  transition: 0.5 ease;
}

a:hover {
  color: rgb(239, 243, 243);
}

nav {
  margin: 5vw !important;
}
nav li {
  list-style-type: none;
}

.nav-link {
  color: rgb(255, 254, 254) !important;
}
.nav-link:hover {
  color: aqua !important;
}

.nav-link:focus {
  opacity: 1;
}

.carousel-inner {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  width: 80%;
  height: 300px;
  margin: 110px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
  background-color: black;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-color: black;
}

.bg-primary {
  background-color: #0d6efd !important;
  padding: 1vh 0vh 8vh 8vh;
}
form {
  margin-bottom: 20px;
}
input,
textarea {
  width: calc(100% - 24px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}
.message {
  margin-bottom: 15px;
  padding: 10px;
  border-left: 3px solid #007bff;
  background-color: #e9ecef;
}
.message strong {
  display: block;
}
